[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "RPSX"]
	path = RPSX
	url = git@github.com:rp-s-tech/SS14_Workstation_Private.git
    update = none
