- type: job
  id: SpCCO
  name: job-name-centcom-operator
  description: job-description-centcom-operator
  playTimeTracker: JobSpCCO
  setPreference: true
  startingGear: CCOGear
  icon: "JobIconNanotrasen"
  requireAdminNotify: true
  joinNotifyCrew: false
  supervisors: job-supervisors-centcom
  canBeAntag: false
  alwaysUseSpawner: true
  whitelisted: true
  sponsorIgnoreWhitelist: false
  accessGroups:
  - AllAccessCentCom
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]

- type: startingGear
  id: CCOGear
  equipment:
    outerClothing: ClothingOuterArmorSecurity
    id: CentcomPDA
    ears: ClothingHeadsetAltCentCom
    belt: WeaponPistolN1984
    pocket1: BoxFolderBlack
    pocket2: PenCentcom


- type: entity
  id: SpawnPointSpCCO
  parent: SpawnPointJobBase
  name: Centcom Operator
  components:
    - type: SpawnPoint
      job_id: SpCCO
    - type: Sprite
      layers:
        - state: green
        - state: dark_NanoTrasenOperator


- type: entity
  parent: ClothingOuterStorageBase
  id: ClothingOuterCoatCentComme
  name: centcom coat
  description: Coats for true bureaucrats.
  components:
  - type: Sprite
    sprite: Clothing/OuterClothing/Coats/CentComme.rsi
  - type: Clothing
    sprite: Clothing/OuterClothing/Coats/CentComme.rsi

- type: entity
  parent: ClothingBackpackSatchel
  id: ClothingBackpackSatchelCentComm
  name: centcom satchel
  description: Satchel for true bureaucrats.
  components:
  - type: Sprite
    sprite: DarkStation/MainGame/Clothing/Back/Satchels/centcommsatchel.rsi
  - type: Clothing
    sprite: DarkStation/MainGame/Clothing/Back/Satchels/centcommsatchel.rsi

- type: entity
  parent: ClothingBackpack
  id: ClothingBackpackCentComm
  name: centcom backpack
  description: Backpack for true bureaucrats.
  components:
  - type: Sprite
    sprite: DarkStation/MainGame/Clothing/Back/Backpacks/centcommbackpack.rsi
  - type: Clothing
    sprite: DarkStation/MainGame/Clothing/Back/Backpacks/centcommbackpack.rsi

- type: entity
  parent: ClothingBackpackDuffel
  id: ClothingBackpackDuffelCentComm
  name: centcom duffel
  description: Duffel for true bureaucrats.
  components:
  - type: Sprite
    sprite: DarkStation/MainGame/Clothing/Back/Duffels/centcommduffle.rsi
  - type: Clothing
    sprite: DarkStation/MainGame/Clothing/Back/Duffels/centcommduffle.rsi
