- type: job
  id: OperativeCrimsonLily
  name: crimson-lily-operative
  description: job-description-finance-defend
  playTimeTracker: JobOperativeCrimsonLily
  setPreference: false
  requirements:
    - !type:DepartmentTimeRequirement
      department: Security
      time: 14400
    - !type:DepartmentTimeRequirement
      department: Cargo
      time: 14400
  startingGear: OperativeCrimsonLilyStationGear
  icon: "JobIconOperativeCrimsonLily"
  requireAdminNotify: true
  joinNotifyCrew: true
  supervisors: job-supervisors-crimson-lily-operative-commander
  canBeAntag: false
  accessGroups:
    - AllAccessAgentCrimsonLily
  special:
    - !type:AddImplantSpecial
      implants: [ MindShieldImplant ]

- type: startingGear
  id: OperativeCrimsonLilyStationGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitOperativeCrimsonLily
    back: ClothingBackpackOperativeCrimsonLilyFilled
    shoes: ClothingShoesBootsMagOperativeCrimsonLily
    eyes: ClothingEyesGlassesOperativeCrimsonLily
    outerClothing: ClothingOuterHardsuitOperativeCrimsonLily
    id: AgentCrimsonLilyPDA
    ears: ClothingHeadsetAgentCrimsonLily
    belt: ClothingBeltSecurityFilled
    head: ClothingHeadHatBeretOperativeCrimsonLily
    gloves: ClothingHandsGlovesPowergloveOperativeCrimsonLily
    pocket1: WeaponPulsePistol
  InnerClothingSkirt: ClothingUniformJumpsuitOperativeCrimsonLily

# Top set

- type: entity
  parent: ClothingHeadHatBeret
  id: ClothingHeadHatBeretOperativeCrimsonLily
  name: Operative Crimson Lily Beret
  suffix: OCL
  description: Stylish, fashionable and respectable.

- type: entity
  parent: ClothingEyesGlassesSecurity
  id: ClothingEyesGlassesOperativeCrimsonLily
  name: ClothingEyesGlassesOperativeCrimsonLily
  suffix: OCL
  description: Specialised Crimson Lily Operative goggles that allow you to monitor the status of individuals in front of him.
  components:
    - type: EyeProtection

# Accessories

- type: entity
  parent: ClothingHandsGlovesPowerglove
  id: ClothingHandsGlovesPowergloveOperativeCrimsonLily
  name: Crimson Lily Operative Power Gloves
  description: The Crimson Lily Operative's special power gloves for productive activities.
  components:
    - type: Insulated

- type: entity
  parent: ClothingShoesBootsMagSyndie
  id: ClothingShoesBootsMagOperativeCrimsonLily
  name: Crimson Lily Operative Magnetic Boots
  suffix: OCL
  description: With these magnetic boots, there's little to fear.

# Chest

- type: entity
  parent: ClothingUniformBase
  id: ClothingUniformJumpsuitOperativeCrimsonLily
  name: Operative Crimson Lily uniform.
  suffix: OCL
  description: You feel safe around him. But you don't feel the safety of your money...
  components:
    - type: Sprite
      sprite: Clothing/Uniforms/Jumpsuit/ert_security.rsi
    - type: Clothing
      sprite: Clothing/Uniforms/Jumpsuit/ert_security.rsi
    - type: Armor
      modifiers:
        coefficients:
          Blunt: 0.8
          Slash: 0.8
          Piercing: 0.8
        securePartTypes:
          Leg: 0.85
          Arm: 0.8

# Armor

- type: entity
  parent: ClothingOuterHardsuitERTLeader
  id: ClothingOuterHardsuitOperativeCrimsonLily
  name: Crimson Lily Operative Suit.
  Description: With a suit like this, you could sell another station.
  components:
    - type: Sprite
      sprite: DarkStation/MainGame/Clothing/OuterClothing/Hardsuits/CrimsonLily/scaf.rsi
    - type: Clothing
      sprite: DarkStation/MainGame/Clothing/OuterClothing/Hardsuits/CrimsonLily/scaf.rsi
    - type: ToggleableClothing
      clothingPrototype: ClothingHeadHelmetHardsuitOperativeCrimsonLily

- type: entity
  parent: ClothingHeadHardsuitWithLightBase
  id: ClothingHeadHelmetHardsuitOperativeCrimsonLily
  categories: [ HideSpawnMenu ]
  name: Crimson Lily Operative spacesuit helmet
  Description: With this spacesuit helmet you can catch a bullet in the forehead!
  suffix: OCL
  components:
    - type: Sprite
      sprite: DarkStation/MainGame/Clothing/OuterClothing/Hardsuits/CrimsonLily/helmet.rsi
    - type: Clothing
      sprite: DarkStation/MainGame/Clothing/OuterClothing/Hardsuits/CrimsonLily/helmet.rsi
    - type: PointLight
      color: "#ffadc6"
      radius: 7
    - type: PressureProtection
      highPressureMultiplier: 0.60
      lowPressureMultiplier: 5500
    - type: Armor
      modifiers:
        coefficients:
          Blunt: 0.75
          Slash: 0.75
          Piercing: 0.75
          Heat: 0.75
          Radiation: 0.70
          Caustic: 0.75
        securePartTypes:
          Head: 0.5

# Storage
- type: entity
  categories: [ HideSpawnMenu ]
  parent: ClothingBackpackHolding
  id: ClothingBackpackOperativeCrimsonLilyFilled
  name: Сrimson Lily operative Backpack
  suffix: OCL
  components:
    - type: StorageFill
      contents:
        - id: BoxSurvivalSecurity
        - id: Flash
        - id: TrackingImplanter
        - id: WeaponPulseCarbine
        - id: WeaponPulsePistol
        - id: SpCentComAccessConfigurator
        - id: CrowbarRed
    - type: Storage
      maxTotalWeight: 56
# Spawner

- type: entity
  id: SpawnPointOperativeCrimsonLily
  parent: SpawnPointJobBase
  name: Сrimson Lily operative
  components:
  - type: SpawnPoint
    job_id: OperativeCrimsonLily
  - type: Sprite
    layers:
      - state: green
      - state: dark_OperativeCrimsonLily

- type: entity
  id: RandomHumanoidSpawnerOperativeCrimsonLily
  name: Сrimson Lily operative
  playTimeTracker: JobOperativeCrimsonLily
  components:
    - type: Sprite
      sprite: Markers/jobs.rsi
      state: ertleader
    - type: RandomHumanoidSpawner
      settings: OperativeCrimsonLily
    - type: RandomMetadata
      nameSegments:
        - NamesFirstCrimsonLily
        - names_last

- type: randomHumanoidSettings
  id: OperativeCrimsonLily
  speciesBlacklist:
    - Arachnid
    - Diona
    - Moth
    - Reptilian
    - SlimePerson
    - Vox
  randomizeName: false
  components:
    - type: GhostRole
      name: Оперативник Багровой Лилии
      description: Вы должны подчиняться Агенту Багровой Лилии, при его отсутствии - представителю Центкома
      requirements:
        - !type:OverallPlaytimeRequirement
          time: 72000 # 20 h
        - !type:DepartmentTimeRequirement
          department: Security
          time: 14400
        - !type:DepartmentTimeRequirement
          department: Cargo
          time: 14400
    - type: GhostTakeoverAvailable
    - type: Loadout
      prototypes: [OperativeCrimsonLilyStationGear]
    - type: RandomMetadata
      nameSegments:
        - NamesFirstCrimsonLily
        - names_last

- type: dataset
  id: NamesFirstCrimsonLily
  values:
  - Оперативник
